.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border:1px solid grey;
}
.contact-header{
    font-size: 30px;
    margin-top: 30px;
    font-weight: 600;
}
.img-text1{
    display: flex;
    flex-direction:row ;
    padding: 3rem;
    width: 70%;
}   
.img-data1{
    margin-right: 30px;

}
.textdata1{
    display: flex;
    flex-direction: column;
    justify-content: left;

}
.text-head1{
    margin-bottom: 20px;
    font-size: 15px;
    margin-top: 30px;
    color: red;
}
.text21{
    margin-bottom: 20px;
    color: red;
    font-size: 15px;
}   